:root {
    --color-blue: #83af9b;
    --color-green: #c8c8a9;
    --color-brown: #774f38;
    --color-beige: #ece5ce;
    --color-yellow: #f9cdad;
    --color-pink: #fe4365;
}


.speech-box {
    height: 25vh;
    margin: 0;
    display: grid;
    place-items: center;
    font: 2vw system-ui;
}

.speech-box p {
    transform: translatey(0px);
    animation: float 5s ease-in-out infinite;
    mix-blend-mode: multiply;
    text-align: left;
    letter-spacing: 2px;
    font-size: 15px;
    color: var(--color-brown);
    background-color: var(--color-beige);
    padding: 30px;
    border-radius: 11px;
    position: relative;
    box-shadow: 20px 20px var(--color-blue);
    font-family: "Baloo 2", cursive;
    border: 1px solid var(--color-green);
}

.speech-box p:after {
    transform: translatey(0px);
    animation: float2 5s ease-in-out infinite;
    content: ".";
    font-weight: bold;
    -webkit-text-stroke: 0.5px var(--color-green);
    -webkit-text-fill-color: var(--color-beige);
    border: 1px solid var(--color-green);
    text-shadow: 22px 22px var(--color-blue);
    text-align: left;
    font-size: 55px;
    width: 55px;
    height: 11px;
    line-height: 30px;
    border-radius: 11px;
    background-color: var(--color-beige);
    position: absolute;
    display: block;
    bottom: -30px;
    left: 0;
    box-shadow: 22px 22px var(--color-blue);
    z-index: -2;
}

@keyframes float {
    0% {
        transform: translatey(0px);
    }
    50% {
        transform: translatey(-20px);
    }
    100% {
        transform: translatey(0px);
    }
}

@keyframes float2 {
    0% {
        line-height: 30px;
        transform: translatey(0px);
    }
    55% {
        transform: translatey(-20px);
    }
    60% {
        line-height: 10px;
    }
    100% {
        line-height: 30px;
        transform: translatey(0px);
    }
}

.bubble {
  position: relative;
  font-family: sans-serif;
    margin-bottom: 20px;
  font-size: 18px;
  line-height: 24px;
  width: 350px;
  background: #c7d3c0;
  border-radius: 40px;
  padding: 24px;
  text-align: center;
  color: #000;
}

.bubble-bottom-left:before {
  content: "";
  width: 0px;
  height: 0px;
  position: absolute;
  border-left: 24px solid #c6d2bf;
  border-right: 12px solid transparent;
  border-top: 12px solid #c6d2bf;
  border-bottom: 20px solid transparent;
  left: 32px;
  bottom: -24px;
}

.flx {
    padding: 20px 15px 10px;
    display: flex;
    background-image: url("header-bg.png");
    background-size: cover;
}

.flx-col{
    display: flex;
    flex-direction: column;
}

.right-header{
    flex: 50%;
}

.credits-mhs{
    text-align: right;
    border: 2px solid black;
    padding: 2px 5px 0px 5px;
}