:root {
    --color-blue: #83af9b;
    --color-green: #c8c8a9;
    --color-brown: #774f38;
    --color-beige: #d7ebee;
    --color-yellow: #f9cdad;
    --color-pink: #fe4365;
}

#form-wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

form {
    width: 90%;
    max-width: 90%;
}

form .form-title {
    margin-top: 2em;
    font-size: 1.5em;
    text-align: center;
}

form .debt-amount-slider {
    display: flex;
    flex-direction: row;
    align-content: stretch;
    position: relative;
    width: 100%;
    height: 50px;
    user-select: none;
}

form .debt-amount-slider::before {
    content: " ";
    position: absolute;
    height: 2px;
    width: 100%;
    width: calc(100% * (3 / 4));
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #000;
}

form .debt-amount-slider input, form .debt-amount-slider label {
    box-sizing: border-box;
    flex: 1;
    user-select: none;
    cursor: pointer;
}

form .debt-amount-slider label {
    display: inline-block;
    position: relative;
    width: 20%;
    height: 100%;
    user-select: none;
}

form .debt-amount-slider label::before {
    content: attr(data-debt-amount);
    position: absolute;
    left: 50%;
    padding-top: 10px;
    transform: translate(-50%, 45px);
    font-size: 14px;
    letter-spacing: 0.4px;
    font-weight: 400;
    white-space: nowrap;
    opacity: 0.85;
    transition: all 0.15s ease-in-out;
}

form .debt-amount-slider label::after {
    content: " ";
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 30px;
    height: 30px;
    border: 2px solid #000;
    background: #fff;
    border-radius: 50%;
    pointer-events: none;
    user-select: none;
    z-index: 1;
    cursor: pointer;
    transition: all 0.15s ease-in-out;
}

form .debt-amount-slider label:hover::after {
    transform: translate(-50%, -50%) scale(1.25);
}

form .debt-amount-slider input {
    display: none;
}

form .debt-amount-slider input:checked + label::before {
    font-weight: 800;
    opacity: 1;
}

form .debt-amount-slider input:checked + label::after {
    border-width: 4px;
    transform: translate(-50%, -50%) scale(0.75);
}

form .debt-amount-slider input:checked ~ .debt-amount-pos {
    opacity: 1;
}

form .debt-amount-slider input:checked:nth-child(1) ~ .debt-amount-pos {
    left: 12.5%;
}

form .debt-amount-slider input:checked:nth-child(3) ~ .debt-amount-pos {
    left: 37.5%;
}

form .debt-amount-slider input:checked:nth-child(5) ~ .debt-amount-pos {
    left: 62.5%;
}

form .debt-amount-slider input:checked:nth-child(7) ~ .debt-amount-pos {
    left: 87.5%;
}


form .debt-amount-slider .debt-amount-pos {
    display: block;
    position: absolute;
    top: 50%;
    width: 12px;
    height: 12px;
    background: #000;
    border-radius: 50%;
    transition: all 0.15s ease-in-out;
    transform: translate(-50%, -50%);
    border: 2px solid #fff;
    opacity: 0;
    z-index: 2;
}

form:valid .debt-amount-slider input + label::before {
    transform: translate(-50%, 45px) scale(0.9);
    transition: all 0.15s linear;
}

form:valid .debt-amount-slider input:checked + label::before {
    transform: translate(-50%, 45px) scale(1.1);
    transition: all 0.15s linear;
}

.buttons-container {
    width: 100%;
    height: 20vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

button {
    background: white;
    border: solid 2px black;
    padding: .375em 1.125em;
    font-size: 1rem;
}

.button-arounder {
    font-size: 2rem;
    background: hsl(190deg, 30%, 15%);
    color: hsl(190deg, 10%, 95%);

    box-shadow: 0 0px 0px hsla(190deg, 15%, 5%, .2);
    transfrom: translateY(0);
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;

    --dur: .15s;
    --delay: .15s;
    --radius: 16px;

    transition: border-top-left-radius var(--dur) var(--delay) ease-out,
    border-top-right-radius var(--dur) calc(var(--delay) * 2) ease-out,
    border-bottom-right-radius var(--dur) calc(var(--delay) * 3) ease-out,
    border-bottom-left-radius var(--dur) calc(var(--delay) * 4) ease-out,
    box-shadow calc(var(--dur) * 4) ease-out,
    transform calc(var(--dur) * 4) ease-out,
    background calc(var(--dur) * 4) steps(4, jump-end);
}

.button-arounder:hover,
.button-arounder:focus {
    box-shadow: 0 4px 8px hsla(190deg, 15%, 5%, .2);
    transform: translateY(-4px);
    background: hsl(230deg, 50%, 45%);
    border-top-left-radius: var(--radius);
    border-top-right-radius: var(--radius);
    border-bottom-left-radius: var(--radius);
    border-bottom-right-radius: var(--radius);
}

.speech-box {
    height: 25vh;
    margin: 0;
    display: grid;
    place-items: center;
    font: 2vw system-ui;
}

.speech-box p {
    transform: translatey(0px);
    animation: float 5s ease-in-out infinite;
    mix-blend-mode: multiply;
    text-align: left;
    letter-spacing: 2px;
    font-size: 15px;
    color: var(--color-brown);
    background-color: #d7ebee;
    padding: 30px;
    border-radius: 11px;
    position: relative;
    box-shadow: 20px 20px var(--color-blue);
    font-family: "Baloo 2", cursive;
    border: 1px solid var(--color-green);
}

.speech-box p:after {
    transform: translatey(0px);
    animation: float2 5s ease-in-out infinite;
    content: ".";
    font-weight: bold;
    -webkit-text-stroke: 0.5px var(--color-green);
    -webkit-text-fill-color: var(--color-beige);
    border: 1px solid var(--color-green);
    text-shadow: 22px 22px var(--color-blue);
    text-align: left;
    font-size: 55px;
    width: 55px;
    height: 11px;
    line-height: 30px;
    border-radius: 11px;
    background-color: var(--color-beige);
    position: absolute;
    display: block;
    bottom: -30px;
    left: 0;
    box-shadow: 22px 22px var(--color-blue);
    z-index: -2;
}

@keyframes float {
    0% {
        transform: translatey(0px);
    }
    50% {
        transform: translatey(-20px);
    }
    100% {
        transform: translatey(0px);
    }
}

@keyframes float2 {
    0% {
        line-height: 30px;
        transform: translatey(0px);
    }
    55% {
        transform: translatey(-20px);
    }
    60% {
        line-height: 10px;
    }
    100% {
        line-height: 30px;
        transform: translatey(0px);
    }
}

.bubble {
    position: relative;
    font-family: sans-serif;
    margin-bottom: 20px;
    font-size: 18px;
    line-height: 24px;
    width: 400px;
    background: #c7d3c0;
    border-radius: 40px;
    padding: 24px;
    text-align: center;
    color: #000;
}

.bubble-bottom-left:before {
    content: "";
    width: 0px;
    height: 0px;
    position: absolute;
    border-left: 24px solid #c6d2bf;
    border-right: 12px solid transparent;
    border-top: 12px solid #c6d2bf;
    border-bottom: 20px solid transparent;
    left: 32px;
    bottom: -24px;
}

.border-bot {
    width: 50%;
    margin: 0 auto;
    margin-top: 5em;
    border-bottom: 2px solid black;
}

body {
    overflow-x: hidden;
    background: #b3a6ff;
}

header {
    border-bottom: 1px solid black;
    background: linear-gradient(#a5e0e7, #D8ECEF);
    background: rgb(165, 224, 231);
    background: linear-gradient(132deg, rgba(165, 224, 231, 1) 0%, rgb(111, 100, 185) 75%);
}

.first-content {
    margin-left: 2em;
}

.flx {
    padding: 20px 15px 10px;
    display: flex;
}

.flx-col {
    display: flex;
    flex-direction: column;
}

.fonter {
    font-size: 1.15em;
}

.right-header {
    flex: 50%;
}

.blue-circle-parent {
    position: relative;
}

.sad-alif-img {
    width: 30%;
}

.headache {
    position: absolute;
    left: 63%;
    top: -30%;
    z-index: -1;
}


.credits-mhs {
    text-align: right;
    border: 2px solid black;
    padding: 2px 5px 0px 5px;
}

.sneaky-box {
    width: 35%;
    height: 350px;
}

.img-prettier {
    background: radial-gradient(closest-side, #5a4bb9, #8f8cde, #d7ebee);
    border-radius: 30%;
}

#contentSection {
    background-color: #D8ECEF;
}

.second-content {
    margin: 0 25px;
    z-index: 0;
}

.q-sign-img {
    margin: 0 auto;
    width: 40%;
}

.q-desc p {
    font-size: 2em;
    width: 90%;
    margin: 0.5em auto;
    padding: 0.5em;
    line-height: 1.5em;
    font-size: 1.2em;
    text-align: center;
    background: white;
    border-radius: 15px;
    box-shadow: #c6d2bf 15px 15px;
}

.phq-9-legend {
    text-align: center;
    font-size: 1em;
    padding: 0.5em;
    margin: 15px auto;
    width: 50%;
    background: white;
    border-radius: 15px;
}

.q-desc {
    width: 75%;
    margin: 0 auto;
}

.sub-q-desc {
    margin: 0.5em;
    font-size: 1em;
    text-align: center;
}

.questionnaire {
    background: linear-gradient(#D8ECEF, #8f8cde, #b3a6ff);
}

.bot-color {
    background-color: #b3a6ff;
}

